{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="slider-thumbs">
        <ul class="hide-bullets">
            {% for i in images %}
            <li class="col-md-12" style="display:inline">
                <a class="img-thumbnail">
                    <img src="{{i.image_thumbnail.url}}">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
    
    <form class="form-group" method="POST" enctype="multipart/form-data" action="{% url 'home' %}">
        {% csrf_token %}
        <input class="form-control" type="file" name="image">
        <input type="submit" class="btn btn-primary bg-dark" value="Upload">
    </form>
   
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="" style="float:right">Share with friends ;)</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">E-mails of your friends</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck1">
                        Comments enable
                    </label>
                </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send images</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}