{% extends 'layout.html' %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:500px">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" style="height:500px">
            <img class="d-block w-100" src="/media/IMG_3679.jpg" alt="First slide">
          </div>
          <div class="carousel-item active" style="height:500px">
            <img class="d-block w-100" src="/media/IMG_3687.jpg" alt="Second slide">
          </div>
          <div class="carousel-item" style="height:500px">
            <img class="d-block w-100" src="/media/IMG_3691.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
{% endblock %}