{% extends 'layout.html' %}
{% block content %}
    <h2>Sign up</h2>
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
{% endblock %}