{% extends 'layout.html' %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% if not user.is_authenticated %}  
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
            <div>{{ form.username.label_tag }}</div>
            <div>{{ form.username }}</div>
          </div>
          <div class="form-group">
              <div>{{ form.password.label_tag }}</div>
              <div>{{ form.password }}</div>
          </div>

          <div>
            <input class="btn btn-primary bg-dark" type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </form>
        <p><a href="{% url 'signup' %}">Join us</a></p>        
    {% endif %}  
{% endblock %}